<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557209303931-6r5vkk1ib53npo9dpj0vv5rbsjdkt9g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557209303931-6r5vkk1ib53npo9dpj0vv5rbsjdkt9g0</string>
	<key>API_KEY</key>
	<string>AIzaSyD4i2-cp2BfwQsq87B4t6aeDf0r7Uv8Dtk</string>
	<key>GCM_SENDER_ID</key>
	<string>557209303931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s3limm.iwallpaper</string>
	<key>PROJECT_ID</key>
	<string>iwallpaper-44e90</string>
	<key>STORAGE_BUCKET</key>
	<string>iwallpaper-44e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557209303931:ios:b539048b1c86db40bbdbde</string>
</dict>
</plist>